    <h2 id="h2-post">POST JOBS</h2>
<br>
    <form enctype="multipart/form-data" action="/poster" method="POST" class="form-control" >
        <label for="Combox-Categoria" id="post-label-categoria" class="custom-select">Categoria</label>
        <select name="categoria" id="Combox-Categoria" required>
                <option value="">Select an Option</option>
            <option value="Desing" >Desing</option>
            <option value="Programacion">Programacion</option>
        </select>
<br>     
<br> 
        <label for="" id="type-post" >Type</label>
        <input type="radio" name="type" value="Full Time" required >Full Time
        <input type="radio" name="type" value="Part Time" required>Part Time
        <input type="radio" name="type" value="Freelance" required >Freelance
<br>
<br>   
        <label for="" id="company-post">Company</label>
        <input type="text" name="company" id="input-company" required>
<br>
<br>   
        <label for="" id="logo-post">Logo</label>
        <input type="file" name="logo" id="input-logo">
<br>
<br>

        <label for="" id="url-post">URL</label>
        <input type="text" name="url" id="input-url">
<br>
<br>

        <label for="" id="position-post">Position</label>
        <input type="text" id="input-position" name="position" required>  
<br>
<br>   
        <label for="" id="location-post">Location</label>
        <input type="text" name="location" id="input-location" required> 
<br>
<br>   
        <label for="" id="description-post">Description</label>
    
<br>
<br>   
        <textarea name="description" id="textarea-post" cols="30" rows="10"  required ></textarea>
<br>
<br>
<br>
<br>
        <input type="hidden" name="email" value="{{email}}">
        <button type="submit" class="btn btn-info" id="boton-post"><b>Enviar</b></button>
    </form>



