			<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
				<div class="container-fluid">
					<a class="navbar-brand" href="">Trabajos</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
					</div>
				</div>
			</nav>

<div class="card ">
                <div class="card-body modal-content">
                        <h2 class="modal-header modal-title">Post a job</h2>
                        <form enctype="multipart/form-data" action="/poster" method="POST">
                                        <br />
                                <label for="Combox-Categoria">Categoria:</label>
                                <select class="form-select" name="categoria" id="Combox-Categoria" required>
                                        <option value="">Select an Option</option>
                                        <option value="Desing" >Desing</option>
                                        <option value="Programacion">Programacion</option>
                                </select>
                                        <br />
                                <label for="">Type:</label>
                                <input class="form-check-input" type="radio" name="type" value="Full Time" required>Full Time
                                <input class="form-check-input" type="radio" name="type" value="Part Time" required>Part Time
                                <input class="form-check-input" type="radio" name="type" value="Freelance" required>Freelance
                                        <br /><br />
                                <label for="">Company:</label>
                                <input class="form-control" type="text" name="company" id="input-company" required>
                                        <br />
                                <label for="">Logo:</label>
                                <input class="form-control" type="file" accept=".jpg, .png" name="logo" id="input-logo">
                                        <br />
                                <label for="">URL:</label>
                                <input class="form-control" type="text" name="url" id="input-url">
                                        <br />
                                <label for="">Position:</label>
                                <input class="form-control" type="text" id="input-position" name="position" required>
                                        <br />
                                <label for="">Location:</label>
                                <input class="form-control" type="text" name="location" id="input-location" required>
                                        <br />
                                <label for="">Description:</label><br />
                                <textarea class="form-control" name="description" id="" cols="30" rows="10" required></textarea>
                                        <br />
                                <div class="modal-footer">
                                        <button class="btn btn-primary" type="submit">Publicar</button>
                                </div>
                        </form>
                </div>
        </div>